.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: 40px;
  transition: background-color $duration-slow ease-out, box-shadow $duration-slow ease-out;
  animation: header-visible $duration-visible ease-out;

  &--scrolled {
    position: fixed;
    padding: 25px 0;
    background-color: $white;
    box-shadow: 1px 5px 5px 0 rgba(34, 60, 80, 0.2);
    animation-name: scrolled-header;
    animation-duration: $duration-visible;
    animation-timing-function: ease-out;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logoWrapper {
    // flex: 1 1 auto;
  }

  &__logo {
    padding: 9px 0;
    font-size: 1.4em;
    cursor: pointer;

    span {
      color: $main;
    }
  }

  &__button-navigation {
    display: none;
    width: 3em;
    height: 3em;
    margin-right: 25px;
    background-color: transparent;
  }

  &__navigations {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__selectors {
    display: flex;
    margin-right: 30px;
    transition: all $duration-fast / 2 ease;

    .active {
      color: $main;
    }
  }

  &__selector {
    margin-right: 15px;
    padding: 9px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color $duration ease-in-out, color $duration ease-in-out,
      box-shadow $duration-fast ease-in-out, transform $duration-fast ease-in-out, color $duration-slow ease;

    &:hover {
      box-shadow: 0 -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    }

    &:active {
      border-radius: 5px;
      transform: translateY(2px);
    }
  }
}
